---
---

@import "{{ site.theme }}";


/* 
 *
 * Fonts
 *
 */


body {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 19px 0 19px;
}
h1 {
    font-size: 37px;
    line-height: 58px;
    margin-bottom: 30px;
}
h2 {
    font-size: 29px;
    line-height: 46px;
    margin-top: 49px;
    margin-bottom: 19px;
}
h3 {
    font-size: 23px;
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 12px;
}
h4 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 7px;
}
p, ul, ol, blockquote, pre {
    margin-bottom: 30px;
}
ul, ol {
    margin-left: 30px;
}
li {
    margin-bottom: 12px;
}
blockquote {
    padding-left: 19px;
    border-width: 0 0 0 7px;
}
code, pre, kbd {
    font-size: 16px;
}
code {
    padding: 3px 4px;
    border-radius: 7px;
}
pre {
    padding: 12px;
    border-width: 0 0 0 7px;
}
kbd {
    padding: 3px 4px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.45);
}


/* 
 *
 * Navigation
 *
 */


nav a {
    display: block;
    padding: 3px;
}
nav a:hover {
    background-color: rgba(200, 200, 200, .1)
}
